<div class="container">
    <div style="height:3vh"></div>
    <span *ngIf="displayLeftRight==true; then leftRightTemplate; else lookupAndFinishPayButtonsTemplate"></span>

    <ng-template #leftRightTemplate>
        <div class="row leftRightHeight">
            <div class="col-sm-6" style="background-color:rgba(214, 234, 248);">
                <app-onload-left></app-onload-left>

            </div>
            <div class="col-sm-6" style="background-color:rgba(213, 245, 227);">

                <!-- <app-onload-right (onClicking)="onClickingMemberButton($event)"></app-onload-right> -->
                <app-onload-right (goToLookupItemPage)="passMemberIdToLookUpItem($event)" (onClicking)="onClickingMemberButton($event)"></app-onload-right>
            </div>
        </div>
    </ng-template>

    <ng-template #lookupAndFinishPayButtonsTemplate>
        <span *ngIf="lookupFinishPayButtons==true; then lookupFinishButtonsTemplate; else lookupItemsAndFinishPayTemplate"></span>
        <ng-template #lookupFinishButtonsTemplate>
            <div class="row leftRightHeight">
                <div class="col-sm-6" style="background-color:rgba(214, 234, 248)">
                    <app-logo-table [itemDetailsArr]="itemDetailsArr"></app-logo-table>
                </div>
                <div class="col-sm-6" style="background-color:rgba(213, 245, 227)">
                    <app-lookup-finishpay [membershipResponse]="membershipResponse" (onClickLookup)="onClickingLookupButton()" (onClickingFinishPay)="onClickingFinishPay($event)"></app-lookup-finishpay>
                </div>
            </div>
        </ng-template>

        <ng-template #lookupItemsAndFinishPayTemplate>
            <span *ngIf="lookupFinishFlow==true; then lookupItemTemplate; else finishAndPayTemplate"></span>
            <ng-template #lookupItemTemplate>
                <div class="row leftRightHeight">
                    <div class="col-sm-12" style="background-color:rgba(213, 245, 227);">
                        <!-- <app-lookup-item (goToLookupFinishPayButtonPage)="onClickingItem($event)"></app-lookup-item> -->
                        <app-lookup-item [memberId] ="memberId" (goToLookupFinishPayButtonPage)="onClickingItem($event)"></app-lookup-item>
                    </div>
                </div>
            </ng-template>

            <!-- -->

                <ng-template #finishAndPayTemplate>
                    <div class="col-sm-12" style="background-color:rgba(213, 245, 227);">
                        <app-finish-pay></app-finish-pay>
                    </div>
                </ng-template>
                
                
            

            <!-- <ng-template #finishAndPayReceiptGenerationTemplate>
                <span *ngIf="finishAndPay==true; then finishAndPayTemplate; else receiptGenerationTemplate"></span>
                <ng-template #finishAndPayTemplate>
                    <div class="col-sm-12" style="background-color:rgba(231, 241, 245, 0.938);">
                        <app-finish-pay></app-finish-pay>
                    </div>
                </ng-template>
                <ng-template #receiptGenerationTemplate>
                    <app-receipt-generation></app-receipt-generation>
                </ng-template>
                
            </ng-template> -->

        </ng-template>
    </ng-template>
    <!--End of the body -->

    <!--Footer start-->
    <div class="row bottom">
        <div class="col-sm-12" style="background-color:rgb(165, 105, 189);">
            <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total Price:&nbsp;&nbsp;${{ totalPrice | number : '1.2-2' }}</strong>
        </div>
    </div>
    <!--Footer end-->

    <div style="height:3vh"></div>
</div>